


/* body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
} */

html, body {
  height: 100%;
  background-color: black;
  overflow: hidden;
}
/*

#mainBox {
  border: solid 25px black;
  position: relative;
  width: 2000px;
  height: 1000px;
}

#mainBox canvas {
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  background-color: transparent;
} */ 



.layer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;

}


